# SQL Cheatsheet

This cheatsheet covers fundamental SQL concepts and commonly used queries.

## Basics of SQL

SQL (Structured Query Language) is used for managing and querying relational databases.

### Creating Tables

```sql
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE,
    salary DECIMAL(10, 2)
);
```

### Inserting Data

```sql
INSERT INTO employees (employee_id, first_name, last_name, hire_date, salary)
VALUES (1, 'John', 'Doe', '2023-01-15', 50000.00);
```

### Querying Data

#### Select All Columns
```sql
SELECT * FROM employees;
```

#### Select Specific Columns
```sql
SELECT first_name, last_name FROM employees;
```

### Filtering Data

#### Using WHERE Clause
```sql
SELECT * FROM employees WHERE salary > 40000;
```

#### Using Logical Operators
```sql
SELECT * FROM employees WHERE salary > 40000 AND hire_date > '2020-01-01';
```

### Aggregating Data

#### Using COUNT, SUM, AVG
```sql
SELECT COUNT(*) AS total_employees FROM employees;
SELECT AVG(salary) AS average_salary FROM employees;
SELECT SUM(salary) AS total_salaries FROM employees;
```

### Grouping Data

#### Using GROUP BY
```sql
SELECT hire_date, COUNT(*) AS hires_per_date
FROM employees
GROUP BY hire_date;
```

### Joining Tables

#### Inner Join
```sql
SELECT e.first_name, e.last_name, d.department_name
FROM employees e
INNER JOIN departments d ON e.department_id = d.department_id;
```

#### Left Join
```sql
SELECT e.first_name, e.last_name, d.department_name
FROM employees e
LEFT JOIN departments d ON e.department_id = d.department_id;
```

### Updating Data

```sql
UPDATE employees
SET salary = salary * 1.1
WHERE hire_date < '2022-01-01';
```

### Deleting Data

#### Delete Specific Rows
```sql
DELETE FROM employees WHERE hire_date < '2000-01-01';
```

#### Delete All Rows
```sql
DELETE FROM employees;
```

### Creating Indexes

```sql
CREATE INDEX idx_salary ON employees (salary);
```

### Transactions

```sql
BEGIN;
UPDATE employees SET salary = salary + 1000 WHERE employee_id = 1;
ROLLBACK;
-- or
COMMIT;
```

## Summary
This cheatsheet provides the basics of SQL queries and database operations. You can expand it with advanced techniques like window functions, subqueries, and stored procedures.